<div class="container">  
    <h1 class="text-center">Todo list </h1>
<app-add-todo (todoAdd)="addTodo($event)"></app-add-todo>
<h4>Your Todos</h4>
<div *ngIf="this.todos.length===0; else elseBlock">No todos display</div>
<ng-template #elseBlock>
    <div *ngFor="let todo of todos; index as i">
        <app-todo-item [todo]="todo"(todoDelete)="deleteTodo($event)"   (todoCheckbox)="toggleTodo($event)"></app-todo-item>
    </div>
</ng-template>
</div> 

<div>
    <input type="text" placeholder="enter name">
</div>

<button (click)="print()">Print Name</button>
