<div class="mb-3">
<h4>Add a Todo</h4>
<form (ngSubmit)="onSubmit()">
    <div class="Form-group">
      <label for="title">Todo title</label>
      <input type="text" [(ngModel)]="title" class="form-control" id="title" name="title" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text"></div>
    </div>
    
    <div class="Form-group">
      <label for="desc">todo description</label>
      <input type="text" class="form-control" name="title" id="desc" [(ngModel)]="desc">
    </div>
    
    <button type="submit" class="btn btn-primary">Add Todo</button>
</form>